@using Gov.News.Website.Models
@model NewsletterViewModel
<div class="newsletters">
    <div class="home-features">
        <h1><a href=@string.Format("../{0}","newsletters")>Newsletters</a></h1>
        @Html.Partial("ConnectSocialMedia")
        @Html.Partial("ResourceLinks")
        <vc:top-sectors />
    </div>
    <div class="home-body">
        <div class="Editions">
            <h3>@Model.Newsletter.Name</h3>
            <p>@Model.Newsletter.Description</p>
            <h5>Editions</h5>
            <div class="Editions-listing">
                <ul>
                    @foreach (var item in Model.Editions)
                    {
                        <div><h6> <li><a href=@string.Format("/{0}/{1}/{2}","newsletters", item.NewsletterKey, item.EditionKey)>  @item.EditionName</a></li></h6></div>
                    }
                </ul>

            </div>
        </div>
    </div>
    <div class="clear"></div>
    <br>
</div>

